#topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	background: rgba(0,0,0,.8);
	font-size: 30px;
	padding-top: 10px;
	font-family: "Varela Round";
	z-index: 20;
}
.topbar-element {
	position: relative;
	width: 100px;
	margin-left: 5%;
	margin-right: 5%
	cursor: pointer;
	color: white;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
.topbar-element:hover {
	color: rgba(255,255,255,.5);
	-webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
#background-overlay{
	position:fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	/*background: white;*/
	background: -webkit-linear-gradient(white, #1fcecb); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(white, #1fcecb); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(white, #1fcecb); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(white, #1fcecb);
	z-index: -5;
    -webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}
/*^^^^BACKGROUND AND TOPBAR^^^^*/
body {
	font-family: "Varela Round";
}
p{
	margin-top: 2px;
	margin-bottom: 2px;
}

#container {
	position:absolute;
	width: 70%;
	height: 1800px;
	left: 15%;
	top:80px;
}
.resume-spacer {
	position: relative;
	left: -19%;
	width: 18%;
	height: 50px;
	top: 100px;
	padding-right: 10px;
	word-wrap: normal;
	font-size: 20px;
	color: black;
	text-align: left;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.resume-container {
	margin-top: 30px;
	word-wrap: break-word;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 30px;
	height: auto;
	background-color: white;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.resume-header {
	font-size: 30px;
	font-weight: 800;
	margin-bottom: 5px;
	z-index: 5;
}
.resume-content {
	margin-left: 20px;
	font-size: 15px;
	z-index: 5;
}

/*INDIVIDUAL RESUME BLOCKS BELOW*/
#name {
	font-size: 60px;
}
#one {
	text-align: center;
	color: #1fcecb;
	background-color: #1fcecb;

}
#one-dne {
	color: #1fcecb;
}
#two {
	color: #33cc33;
	background-color: #33cc33;
}
#two-dne {
	color: #33cc33;
}
#three {
	color: #ff6600;
	background-color: #ff6600;
}
#three-dne {
	color: #ff6600;
}
#four {
	color: #ff5050;
	background-color: #ff5050;
}
#four-dne {
	color: #ff5050;
}
#five {
	color: #ff66cc;
	background-color: #ff66cc;
}
#five-dne {
	color: #ff66cc;
}
#six {
	color: #3333ff;
	background-color: #3333ff;
}
#six-dne {
	color: #3333ff;
}